*{
    box-sizing: border-box;
}

.flex{
    display: flex;
}

header{
    line-height: 1;
    background-color: green;
    color: white;
    padding: 40px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.img__cont{
    max-width: 700px;
    max-height: 500px;
}

.img__cont img{
    max-width: 100%;
    max-height: 100%;
}

.game{
    flex-wrap: wrap;
}

.game__title{
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 4px 4px black;
}

.game__rules h4{
    font-size: 35px;
    text-shadow: 2px 2px 2px black;
}

.game__rules p{
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

.the__game{
    background-color: rgb(224, 241, 224);
    padding: 20px 0;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 450px;
}

.the__game button{
    background-color: rgb(18, 109, 18);
    color: white;
    padding: 20px;
}

.game__result{
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.game__result h3{
    font-size: 30px;
    color: red;
}

footer{
    height: 50px;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: green;
}

footer a{
    color: white;
}

@media only screen and (max-width:800px){
    header{
        flex-direction: column;
    }

    .img__cont{
        min-width: 400px;
        align-self: center;
    }

    .game__title{
        font-size: 60px;
        text-align: center;
    }
    .the__game{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}

@media only screen and (max-width:450px){
    header{
        padding: 10px;
        flex-direction: column;
    }

    .img__cont{
        min-width: 50px;
        align-self: flex-start;
    }

    .img__cont img{
        width: 100%;
    }
    .game__title{
        font-size: 30px;
        text-align: center;
    }

    .game__rules h4{
        font-size: 20px;
    }

    .game__rules p{
        font-size: 15px;
    }

    .the__game{
        flex-wrap: wrap;
        flex-direction: column;
    }

    #player1Card1, #player1Card2, #player2Card1, #player2Card2{
        width: 130px;
        height: 200px;
    }
}